[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
python-jose = {version = "*", extras = ["cryptography"]}
passlib = {version = "*", extras = ["bcrypt"]}
python-multipart = "*"
sqlalchemy = "*"
mariadb = "*"
psycopg2-binary = "*"
alembic = "*"
mysql = "*"
sqladmin = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start = "python main.py"
init = "mkdir ./migrations/versions"
migrate = "alembic revision --autogenerate"
upgrade = "alembic upgrade head"
reset_lin_db = "bash ./docs/assets/reset_migrations.sh"
reset_win_db="powershell -f ./docs/assets/reset_migrations.ps1"
